<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authorization form</title>
    <link rel="icon" type="image/png"
          href="{% static 'auth/images/icons/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'auth/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'auth/css/util.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'auth/css/main.css' %}">
</head>
<body>

<h1>Privacy policy</h1>
<p> The terms used in the article correspond to the definitions given in 152-ФЗ “On
Personal Data” dated July 27, 2006..</p>

<p>The use of the site by the user means acceptance of this Privacy Policy and the
terms of processing the user's personal data. In case of disagreement with the
terms of the privacy policy, the user must stop using the site. The Operator
does not control and is not responsible for third-party sites to which the User
can click on the links available on this site.</p>

<p>The Operator stores personal data specified during registration, as well as
those that the resource user leaves on the site, using the services of the
Operator. Data collection is carried out:</p>

<p>at the time of user registration. The user agrees to register and enters
personal data in the form voluntarily.
automatically when visiting pages, information such as IP address, information
from cookies, information about the browser, access time is collected. This
information is used to identify and solve operator’s technical problems..
Data collection at the time of user registration is used to:</p>

<p>Providing the User with access to personalized site resources.
Establish feedback with the user.
Providing the User with effective customer and technical support in case of
problems associated with the use of the site.
The processing of user personal data is carried out without time limit, in any
legal way, including in personal data information systems using automation tools
or without using such tools.</p>

<p>Personal data of the user can be transferred to the authorized state authorities
only on the grounds and in the manner established by the current legislation..</p>

<p>User undertakes to:</p>

<p>Provide accurate and truthful information about personal data necessary to use
the site.
Update or supplement the information provided on personal data in the event of a
change in this information.
Take steps to protect access to their confidential data stored on the site.
The operator undertakes to:
Use the information obtained solely for the purposes specified in this Privacy
Policy.
Do not disclose personal data of the User, except as specified in this Privacy
Policy.
Perform blocking of personal data relating to the relevant User from the moment
of the request or request of the User or his legal representative or authorized
body for the protection of the rights of subjects of personal data for the
period of verification, in case of unreliable personal data or illegal actions.
The operator is responsible for the intentional disclosure of personal user data
in accordance with applicable law, except as provided in this Privacy Policy.</p>

<p>In case of loss or disclosure of Personal Data, the Operator is not responsible
if this confidential information:</p>

<p>Became public domain before its loss or disclosure.
It was received from a third party before it was received by the Site
Administration.
It was obtained by third parties by unauthorized access to the site files.
It was disclosed with the consent of the User.
The User is responsible for the legality, correctness and veracity of the
Personal Data provided in accordance with applicable law.</p>

<p>Policy on ad networks used by the Operator:</p>

<p>To display ads, the Operator uses the services of third-party advertising
companies. These companies may use information (with the exception of your name,
address, email address or telephone number) about your visits to this website
and other websites in order to provide the most relevant advertisements about
goods and services.</p>

</body>
</html>
