{% extends 'adminapp/base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
{{ title|title }}
{% endblock %}

<!-- ##### Main Content Wrapper Start ##### -->
{% block content %}

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            {% for object in objects %}
            <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                <div class="single-product-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="{{ object.image|media_folder_products }}" alt="{{ object.name }}">
                    </div>
                    <!-- Product Description -->
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">Price: {{ object.price }}$</p>
                            <p class="product-price">Quantity: {{ object.quantity }}</p>
                            <h6>{{ object.name }}</h6>

                            <a href="{% url 'myadmin:product_read' pk=object.pk %}" class="btn amado-btn mb-15">Details</a>

                            <a href="{% url 'myadmin:product_update' pk=object.pk %}" class="btn amado-btn mb-15">Edit</a>

                            <a href="{% url 'myadmin:product_delete' pk=object.pk %}" class="btn amado-btn mb-15">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}